body{
    background-size: 100%;
    background: url("22.jpg") no-repeat fixed center;
    }

.main{
    padding-top: 30px;
    display: flex;
    justify-content: center;

}

table {
    font: 16px "Helvetica", sans-serif;
    border: 2px solid rgba(16,46,82,0.8);
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.7);

}


td {
    border: 1px solid #36567b;
    padding:  7px 10px;
    color: slategrey;
}

tr:hover{
    background-color: white;
}

caption{
    font-weight:bold;
    padding: 10px;
    font-size: 2em;
    color: #102e52;
    text-align:center;
    margin-bottom: 10px;

}

.title_column{
    color: #102e52;
    }

div .button_user{
    margin:5px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #36567b;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    font: 16px "Helvetica", sans-serif;

}

div .button_user:hover {
    background-color: #102e52;
}

div .button_del {
    background-color: #ce714d;
}
div .button_del:hover {
    background-color: #aa3c11;
}
.wrapper_button{
    margin-top: 60px;
    margin-left: 15px;
    display: flex;
    flex-direction: column
}

.action{
    margin-top: 20px;

}
